extends layout

block content
    .index
      .hero
        .container
          h1 Task Done App
            br
            | A Simple To Do Application
          h2 Create tasks, set priority, get things done, and keep track of accomplishments
          a(href='/register') Get Started
      section.howItWorks
        .container
          h2 How it works
          .boxes
            .box1
              p.title Create Task
              p As simple as it is, one of the main reasons things don't get done in life is because we don't make personal goals. Create your tasks and start working!
            .box2
              p.title Set Task Priority
              p After you create tasks, set a priority of one of three groups: Not urget, Semi urgent, Very Urgent. Priorities are color based, you can see importance with just a glance.
            .box3
              p.title Complete Task
              p You have the option of either deleting the task or completing the task. We hope you are meeting your goals. The only way to get things done is to work at it.
            .box4
              p.title Look Back At Old Tasks
              p Sometimes you forget what you've done, or you just need to be encouaraged all the tasks that led to great accomplishments in your life. You can go back and see your hard work.
      section.whatItIs
        .container.w900
          h2 Looking forward to great goals. Looking back to see all you've done.
          p One of the greatest motivators is knowing all that you have accomplished. Many to-do apps let you check off tasks, without a way to see them again. Task Done App helps you stay organized with prioritizing tasks. After you complete tasks, you can look back too all that you have done.
      
