extends layout

block content
    .index
      .hero
        .container
          h1 Get things done today and keep track of accomplishments
          a(href='/register') Create Account
      section.whatItIs
