doctype
html
  head
    title Get it done
    link(rel='stylesheet', href='/public/styles/style.css')
  body
    nav
      ul
        li
          a.navbar-item.logo(href='/') Get it done
        li
          a.navbar-item(href='/login') Login
        li
          a.navbar-item(href='/register') Register
    
    block content
    
    footer
      section
        h1.title
          a.logo(href='/') Get it done app
        h2.subtitle
          | Made by 
          a(href='http://www.designadvanced.net', target='_blank') Estevan Montoya
