doctype
html
  head
    title Task Done App
    link(rel='stylesheet', href='/public/styles/style.css')
    script(defer, src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
  body
    nav
      ul
        li
          a.navbar-item.logo(href='/') Task Done
        li
          a.navbar-item(href='/login') Login
        li
          a.navbar-item(href='/register') Register
    
    block content
    
    footer
      section.footer
        h2.title
          a.logo(href='/') Task Done App
        h3.subtitle
          | Made by 
          a(href='http://www.designadvanced.net', target='_blank') Estevan Montoya
