extends layout

block content
    section.list
      section
        h1.title Let's Do This! 
        h2.subtitle Consistent action. One step at a time completes an entire journey
      section
        input.input.is-medium(type='text', placeholder='What are you doing today?')
        button.button.is-primary Get 'er done!
      section
        table
          thead
            tr
              th Task
              th Urgency
              th Complete
              th Delete
          tfoot
            tr
              th Task
              th Urgency
              th Complete
              th Delete
          tbody
            tr
              th Add database
              td Semi Urgent
              td Mark As Complete
              td Delete This Task
            tr
              th Add passport
              td Urgent
              td Mark As Complete
              td Delete This Task
            tr
              th Add login page
              td Semi Urgent
              td Mark As Complete
              td Delete This Task
            tr
              th Add register page
              td Semi Urgent
              td Mark As Complete
              td Delete This Task
            tr
              th Add profile page
              td Semi Urgent
              td Mark As Complete
              td Delete This Task
            tr
              th Create CRUD operations
              td Semi Urgent
              td Mark As Complete
              td Delete This Task
            tr
              th Add pagination
              td Semi Urgent
              td Mark As Complete
              td Delete This Task
