extends layout

block content
    section.list
      .top
        section.title
          h1.title Let's Do This! 
          h2.subtitle Consistent action. One step at a time completes an entire journey
      .container
        section.content
          section.new-task
            h4 New Task
            input.input(type='text', placeholder='What are you doing today?')
            a.button(href='#') Get 'er done!
          section.task-list
            .task
              p.edit <i class="fas fa-edit"></i>
              p.task-title This is a sample task
              .urgeny <i class="fas fa-flag"></i> Not Urgent
              p.check <i class="far fa-check-square"></i>
              p.delete <i class="fas fa-trash"></i>
            .task
              p.edit <i class="fas fa-edit"></i>
              p.task-title This is a sample task
              .urgeny <i class="fas fa-flag"></i> Not Urgent
              p.check <i class="far fa-check-square"></i>
              p.delete <i class="fas fa-trash"></i>
            .task
              p.edit <i class="fas fa-edit"></i>
              p.task-title This is a sample task
              .urgeny <i class="fas fa-flag"></i> Not Urgent
              p.check <i class="far fa-check-square"></i>
              p.delete <i class="fas fa-trash"></i>
            .task
              p.edit <i class="fas fa-edit"></i>
              p.task-title This is a sample task
              .urgeny <i class="fas fa-flag"></i> Not Urgent
              p.check <i class="far fa-check-square"></i>
              p.delete <i class="fas fa-trash"></i>
