section.list
  .top
    background-color: #34495e
  section.title
    padding: 40px 0px
    text-align: center
    color: white
    +tablet
      padding: 60px 0px
    +desktop
      padding: 80px 0px
    h1.title
      font-weight: 300
      font-size: 28px
      text-transform: uppercase
      letter-spacing: 6px
      margin-bottom: 10px
    h2.subtitle
      font-weight: 300
      font-size: 14px
      letter-spacing: 2px
  section.content
    display: grid
    grid-template-columns: 1fr
    grid-gap: 50px
    padding-bottom: 60px
    +tablet
      grid-template-columns: 1fr
    +desktop
      grid-template-columns: 1fr 3fr
    section.new-task
      padding: 0px
      h4
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 6px
        margin-bottom: 10px
      input
        width: 100%
        height: 40px
        font-size: 14px
        padding-left: 10px
        color: black
        box-shadow: 0 1px 0px rgba(0,0,0,.25)
        border-radius: 3px
        border: 1px solid rgba(0,0,0,.25)
        margin-bottom: 20px
      a.button
        background-color: $dark
        color: white
        font-size: 12px
        padding: 10px 20px
        border: none
        border-radius: 3px
        text-transform: uppercase
        letter-spacing: 2px
        text-decoration: none
        transition: .4s
        box-shadow: 0px 4px 6px rgba(0,0,0,.13)
      a.button:hover
        box-shadow: 0 4px 8px rgba(0,0,0,.1)
        background-color: #ddd
        color: $dark
      a.button:active
        box-shadow: 0 4px 8px rgba(0,0,0,.4)
    section.task-list
      .task
        display: grid
        grid-template-columns: 1fr 8fr 2fr 1fr 1fr
        grid-gap: 20px
        align-items: center
        justify-content: space-around
        background-color: #ecf0f1
        box-shadow: 0px 4px 6px rgba(0,0,0,.03)
        border-radius: 3px
        padding: 15px
        margin-bottom: 20px
        transition: .4s
        font-size: 14px
        p.edit:hover
          color: #3498db
        p.task-title
          font-weight: 400
        p.check:hover
          color: #2ecc71
        p.delete:hover
          color: #c0392b
      .task:hover
        box-shadow: 0 4px 8px rgba(0,0,0,.1)
        background-color: #ddd
